!!! 5
%html
  %head
    %title WebGl Example Page
    %link{ rel: "stylesheet", href: "/stylesheets/application.css" }
    %script{ src: "/javascripts/jquery-2.1.3.min.js" }
    %script{ src: "/javascripts/application.js" }
  %body
    .container.center
      = yield
